
<div id="dead" class="jumbotron jumbotron-fluid">
    <h1> Oh no! {{ tamagotchi->get('name') }} is dead.</h1>
    <p>Want to suck less next time?</p>

    <form action="/">
      <button type="submit">Create new life</button>
    </form>
</div>
