/*newtama.html.twig styles*/

#name-form {
  text-align: center;
}

#egg{
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*tamahome.html.twig styles*/
.jumbotron {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#tamagotchi-gif {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#buttons-div {
  margin-left: 40%;
}

button {
  color: white;
  font-family: 'Barrio', cursive;
  letter-spacing: 5px;
}

h4 {
  font-family: 'Barrio', cursive;
  letter-spacing: 5px;
}
